{% include 'components/header.html' %} {% include 'components/sidebar.html' %}

<h5>Crear un Usuario</h5>
<form
  action="{{url_for('Usuario.crear')}}"
  method="POST"
  data-toggle="validator"
  class="jumbotron py-4 px-3 pr-0 bg-light"
  style="max-width: 65%"
>
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-3">
        <label>Rol</label>
        <select name="rol" id="rol" class="form-control input-sm">
          <option value="Admin" key="1">Admin</option>
          <option value="Analista" key="2">Analista</option>
        </select>
      </div>
      <div class="col-sm-8">
        <label>Nombre</label>
        <input
          type="text"
          name="nombre"
          class="form-control input-sm"
          maxlength="200"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-11">
        <label>Correo</label>
        <input
          type="email"
          name="correo"
          class="form-control"
          maxlength="200"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-11">
        <label>Contraseña</label>
        <div class="d-flex align-content-center align-items-center">
          <input
            type="password"
            id="clave"
            name="clave"
            class="form-control"
            required
            maxlength="50"
            minlength="8"
          />
          &nbsp;
          <div
            class="align-self-center fa fa-eye ml-1"
            onclick="password()"
            style="cursor: pointer"
          ></div>
        </div>
      </div>
      <script>
        function password() {
          var x = document.getElementById("clave");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
      </script>
    </div>
    <!--Boton para validar campos-->
    <br />
    <div class="text-center">
      <input
        type="submit"
        value="Guardar"
        class="btn btn-dark text-white my-primary"
      />
      &nbsp;
      <button type="button" onclick="goBack()" class="btn btn-outline-dark">
        Atras
      </button>
    </div>
  </div>
</form>

{% include 'components/footer.html' %}
