{% include 'components/header.html' %}

{% include 'components/sidebar.html' %}

<h5>Actualizar un User</h5>

{% if u.email %}
<form action="{{url_for('User.update')}}" method="POST" data-toggle="validator" class="jumbotron py-4 pr-0 bg-light"
    style="max-width:70%;">
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-8">
                <label>Nombre</label>
                <input type="text" name="name" class="form-control input-sm" maxlength="200" required
                    value="{{u.name}}">
            </div>
            <div class="col-sm-3">
                <label>Rol</label>
                <select name="rol" id="rol" class="form-control input-sm" >
                    <option value="Admin" key="1" {% if u.role=='Admin' %} selected {% endif %}>Admin</option>
                    <option value="Analista" key="2" {% if u.role=='Analista' %} selected {% endif %}> Analista </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label>Correo Electronico</label>
                <input type="hidden" name="email" class="form-control" value="{{u.email}}" required maxlength="30">
                <input type="text" class="form-control input-sm" maxlength="200" required value="{{u.email}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label>Contraseña</label>
                <div class="d-flex align-content-center align-items-center">
                    <input type="password" name="clave" id="clave" class="form-control" maxlength="50" minlength="8">
                    &nbsp;
                    <div
                        id="toggle-password"
                        class="align-self-center fa fa-eye ml-1"
                        onclick="tooglePassword()"
                        style="cursor: pointer"
                    ></div>
                </div>
            </div>

        </div>

        <!--Boton para validar campos-->
        <br>
        <div class="text-center">
            <input type="submit" value="Actualizar" class="btn btn-dark text-white my-primary" />
            &nbsp;
            <button type="button" onclick="goBack()" class="btn btn-outline-dark">Atras</a>
        </div>
    </div>
</form>
{% else %}

<div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">Aviso!!</h5>
    <p>No se pudo encontrar el Usuario a editar</p>
    <hr>
</div>

{% endif %}


{% include 'components/footer.html' %}