{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sidebar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


<div class="container m-0 py-2 px-4 w-100 border my-secondary">
    <div class="row">
        <h2 class="m-2 text-white">Nivel Institución</h2>
        <!-- Controles -->
        <div class="row ml-auto mr-3">
            <div class="col">
                <label for="period_select" class="text-white ">Selecciona un período:</label>
                <br>
                <select id="period_select" class="form-control-sm">
                    {% for p in periodos_list %}
                    <option value="{{p}}" {% if p|string==periodo|string %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script>
        var periodo = '{{ periodo }}';
        $('#period_select').on('change', function () {
            openModal();
             
            window.location.href = "{{url_for('Tablero.ies_dashboard')}}" + "?periodo=" + this.value;
        })
    </script>
</div>


<!-- Contenedor Dasboard -->
<div class="d-flex row w-100 h-100">

    <div class="container m-0 p-0 w-100 {% if session['user'] %} {% if session['user']['rol'] == 'Admin' %} h-75 {% else %} h-100 {% endif %} {% else %} h-dashboard {% endif %}">

        <!-- Fila 1 -->
        <div class="row m-0 px-3 py-2 w-100" style="height: 18%;">

            <!-- NOMBRE IES -->
            <div class="col-5 w-100 h-100 m-0 p-0 p2 d-flex align-items-center justify-content-center">
                <h3 class="m-0 p-0">{{nombre_ies}}</h3>
            </div>
            <!-- INDICADORES 1 -->
            <div class="col-3 w-100 h-100 m-0 py-1 pl-5 pr-2">
                <div class="m-0 p-0" style="height:80%;" id="indicadores_2"></div>
            </div>
            <!-- INDICADORES 2 -->
            <div class="col-4 h-100 m-0 py-1 pl-2 pr-0" style="width:70%;">
                <div class="m-0 p-0" style="height:85%;" id="indicadores_1"></div>
            </div>

        </div>

        <!-- Fila 2 -->
        <div class="row m-0 p-0 w-100" style="height: 30%;">
            <!-- RADIAL or PIE CHART -->
            <div class="col-5 h-100">
                <div class="row d-flex justify-content-center mb-4" style="height: 5%; z-index: 3;">
                    {% if pastel_plot %}
                    <p class="m-0 p-0 ml-3 text-black">
                        <center>
                            <b>Matrícula Total por facultad</b>
                            <br>
                            <small>(Cantidad estudiantes matriculados por facultad <b>{{periodo}}</b>)</small>
                        </center>
                    </p>
                    {% endif %}
                </div>
                <div style="width:100%; height: 90%; z-index: 0;" id="pastel"></div>
            </div>
            <!-- BARRAS -->
            <div class="col-7 h-100">
                <div class="row mb-3" style="height: 10%;">
                    {% if barras_plot %}
                    <p class="m-0 p-0 ml-3 mb-2 text-black">&nbsp; &nbsp;
                        <b>Inscripción, Adminsión y Matrícula por facultad</b>
                        <br>
                        <small>(Cantidad de estudiantes admitidos, inscritos y matriculados por facultad <b>{{periodo}}</b>)</small>
                    </p>
                    {% endif %}
                </div>
                <div class="h-100" id="barras"></div>
            </div>
        </div>

        <!-- Fila 3 margen -->
        <div class="row m-0 p-0 w-100" style="height: 7%;"></div>

        <!-- Fila 4 -->
        <div class="row m-0 p-0 w-100 " style="height: 30%;">

            <!-- LISTAS PROGRAMAS -->

            <!-- Serie Desercion -->
            <div class="col-5">
                {% if miniseries_programas_plot %}
                <p class="m-0 p-0 ml-3 text-black">
                    <b>Deserción de programs por período</b>
                    <br>
                    <small>(Serie de tiempo de deserción por programa)</small>
                </p>
                {% endif %}
                <div class="h-100" style="overflow:auto; position: relative; direction:rtl;">
                    <div id="miniseries_programas" style="width:95%; height:{{prgms_size_2}}%;  position: absolute;">
                    </div>
                </div>
            </div>


            <!--Indicadores -->
            <div class="col-7">

                {% if indicadores_programas_plot %}
                <p class="m-0 p-0 ml-3 text-black">
                    <b>Matricula de programs</b>
                    <br>
                    <small>(Ranking de programs por matrícula <b>{{periodo}}</b>)</small>
                </p>
                {% endif %}

                <div class="h-100" style="overflow:auto; position: relative; direction:rtl;">
                    <div id="indicadores_programas" class="mt-2"
                        style="width:95%; height:{{prgms_size_1}}%;  position: absolute;"></div>
                </div>
            </div>

        </div>

    </div>
</div>

<style>
    g.pointtext {
        display: none !important;
    }
</style>

<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ indicadores_1_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_1', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ indicadores_2_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_2', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ miniseries_programas_plot | safe}};
    if (graphs) {
        Plotly.newPlot('miniseries_programas', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ barras_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ indicadores_programas_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores_programas', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ pastel_plot | safe}};
    if (graphs) {
        Plotly.newPlot('pastel', graphs.data, graphs.layout,
            {
                displaylogo: false,
                responsive: true
            })
    }
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}