{% include 'components/header.html' %}


{% with menu='tableros' %}
{% include 'components/sidebar.html' %}
{% endwith %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container m-0 py-2 px-4 border my-secondary">
    <div class="row w-100">
        <h3 class="ml-2 mt-2 mr-auto p-0 text-white">Nivel Program</h3>
        <!-- Controles -->
        <div class="row d-flex justify-content-end w-75 pl-5 pr-0">
            <div class="col-3">
                <label for="period_select" class="text-white ">Selecciona un período:</label>
                <br>
                <select id="period_select" class="form-control-sm w-75">
                    {% for p in periodos_list %}
                    <option value="{{p}}" {% if p|string==periodo|string %} selected {% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="period_select" class="text-white">Selecciona un programa:</label>
                <br>
                <select id="programa_select" class="form-control-sm w-100">
                    {% for p in programas_list %}
                    <option value="{{p.idprograma}}" {% if p.idprograma|string==programa|string %} selected {% endif %}>
                        {{p.programa}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script>
        var programa = '{{ programa }}';
        var periodo = '{{ periodo }}';
        $('#period_select').on('change', function () {
            openModal();
            window.location.href = "{{url_for('Tablero.programa_dashboard')}}"  + '?programa=' + programa + '&periodo=' + this.value;
        })
        $('#programa_select').on('change', function () {
            openModal();
            window.location.href = "{{url_for('Tablero.programa_dashboard')}}" +'?programa=' + this.value + '&periodo=' + periodo;
        })
    </script>
</div>


<!-- Contenedor Dasboard -->
<div class="container m-0 p-0 w-100 {% if session['user'] %} {% if session['user']['rol'] == 'Admin' %} h-75 {% else %} h-100 {% endif %} {% else %} h-dashboard {% endif %}">

    {% if notfound %}
    <center>
        <div class="m-5 p-5 w-75">
            <h6>
                <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i>
                NO HAY DATOS DE ESTE PROGRAMA EN EL PERÍODO SELECCIONADO...
            </h6>
            <br>
            Intenta con otro período o programa
        </div>
    </center>
    {% else %}

    <!-- Fila 1 -->
    <div class="d-flex justify-content-between row m-0 w-100 " style="height: 15%;">
        <!-- NOMBRE PROGRAMA -->
        <div class="col-6 w-100 h-100 m-0 px-2 py-3 mt-2 d-flex align-items-center justify-content-center text-center">
            {% if nombre_programa|length > 35 %}
            <div class="m-3 p-1">
                <h5 class="m-0 p-0">{{nombre_programa}}</h5>
            </div>
            {% else %}
            <h4 class="m-0 p-0">{{nombre_programa}}</h4>
            {% endif %}
        </div>
        <!-- INDICADORES -->
        <div class="col-6 w-100" style="height: 90%;">
            <div class="m-0 p-0 mt-2 h-100 w-100" id="indicadores"></div>
        </div>
    </div>


    <!-- Fila 2 -->
    <div class="d-flex justify-content-center row m-0 p-0 w-100" style="height: 35%;">
        <div class="col-4 p-0 m-0">
            <center>
                {% if radial_plot %}
                <p class="m-0 p-0 mt-2 text-black">
                    <b>Matrícula por período</b>
                    <br>
                    <small>(Cantidad estudiantes matriculados por ultimos 12 períodos académico)</small>
                </p>
                {% endif %}                
            </center>
            <div class="p-0 m-0" id="radial" style="height: 95%;"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 m-0 p-0 py-2 mt-1" style="height: 90%;">
            <center>
                {% if pastel_plot %}
                <p class="m-0 p-0 text-black">
                    <b>Estudiantes por estrato</b>
                    <br>
                    <small>(Cantidad estudiantes matriculados por la estrato socioeconómico {{periodo}})</small>
                </p>
                {% endif %}                                
            </center>
            <div class="m-0 p-0 mt-1 h-100" id="pastel" style="height: 90%;"></div>
        </div>
    </div>

    <div class="row m-0 p-0 w-100" style="height: 5%;"></div>

    <!-- Fila 3 -->
    {% if barras_plot %}
    <p class="m-0 p-0 ml-3 text-black">
        <b>Desertores por períodos y niveles</b>
        <br>
        <small>(Cantidad de estudiantes desertores para cada nivel y período académico)</small>
    </p>
    {% endif %}
    <div class="row m-0 px-3 w-100" style="height: 40%; overflow-x:scroll; position: relative; direction:ltr;">
        <div class="col-12 m-0 p-0 h-100">
            <div class="m-0 p-0 h-100" style="width:{{periodos_size}}%;  position: absolute;" id="barras"></div>
        </div>
    </div>

    {% endif %}

</div>



<!-- Scripts para añadir los graficos al los respectivos contenedores -->
<script>
    var graphs = {{ indicadores_plot | safe}};
    if (graphs) {
        Plotly.newPlot('indicadores', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ radial_plot | safe}};
    if (graphs) {
        Plotly.newPlot('radial', graphs.data, graphs.layout,
            {
                // displayModeBar: true,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ pastel_plot | safe}};
    if (graphs) {
        Plotly.newPlot('pastel', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>
<script>
    var graphs = {{ barras_plot | safe}};
    if (graphs) {
        Plotly.newPlot('barras', graphs.data, graphs.layout,
            {
                displayModeBar: false,
                responsive: true
            })
    }
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


{% include 'components/footer.html' %}