{% include 'components/header.html' %} {% with menu='models' %} {% include
'components/sidebar.html' %} {% endwith %}

<span>
  <h4 class="ml-1 d-inline-block">Predecir</h4>
  <i class="fa fa-flask fa-lg ml-1"></i>
</span>

<form
  id="conjuntoForm"
  action="{{url_for('Analista.predecir_model')}}"
  method="POST"
  enctype="multipart/form-data"
  data-toggle="validator"
  class="jumbotron py-4 pr-2 bg-light"
  style="width: 65%"
>
  <div class="container w-75 px-2">
    <div class="form-group row">
      <div class="col-12">
        <label id="facultad_label">
          <i class="fa fa-university"></i>
          Faculty
        </label>
        <input
          class="form-control"
          name="facultad"
          value="{{model.results.facultad}}"
          required
          readonly
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label for="programa">
          <i class="fa fa-graduation-cap"></i>
          Program
        </label>

        <input id="programa" value="{{model.results.idprograma}}" hidden />
        <input name="ejecucion" value="{{model}}" hidden />

        <input
          class="form-control"
          name="programa"
          value="{{model.results.programa}}"
          required
          readonly
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label for="programa">
          <i class="fa fa-calendar"></i>
          Periodos de Entrenamiento
        </label>

        {% set periods = model.conjunto.split(' ')[1:3] %}

        <div class="d-flex">
          <input
            class="form-control mr-4"
            name="periodoInicial"
            value="{{periods[0]}}"
            required
            readonly
          />
          <input
            class="form-control"
            name="periodoFinal"
            value="{{periods[1]}}"
            required
            readonly
          />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label for="programa">
          <i class="fa fa-robot"></i>
          Clasificador/ Algoritmo
        </label>

        <input
          class="form-control"
          name="clasificador"
          value="{{model.results.clasificador}}"
          required
          readonly
        />
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <div class="col-5">
        <label>
          <i class="fa fa-calendar-alt"></i>
          Periodo a Predecir
        </label>
        <div class="pr-3">
          <select
            name="periodo"
            id="periodoID"
            class="periods-controls form-control input-sm mr-5"
            required
          >
            <option disabled selected hidden></option>
          </select>
        </div>
      </div>
      <script>
        //LLenar con periodos del programa

        $.ajax({
          url: "periods/" + $("#programa").val(),
          type: "GET",
          contentType: "application/json;charset=UTF-8",
          data: {},
          dataType: "json",
          success: function (data) {
            var periodo = document.getElementById("periodoID");
            var i = 1;
            data.forEach((p) => {
              periodo.options[i] = new Option(p, p);
              i = i + 1;
            });
          },
        });
      </script>
    </div>

    <!--Boton para validar campos-->
    <br />
    <div class="text-center">
      <button
        id="btn-submit"
        type="submit"
        class="btn btn-dark text-white my-primary submit"
      >
        Predecir
        <i class="fas fa-flask fa-sm ml-1"></i>
      </button>
      <button
        class="btn btn-dark text-white my-primary btn-loading"
        type="button"
        style="display: none"
      >
        <i
          class="fas fa-spinner fa-spin fa-lg text-white"
          aria-hidden="true"
        ></i>
        Cargando...
      </button>
    </div>
  </div>
</form>

<script>
  // Boton cargando si se esta validando y guardando la data del conjunto
  $("#btn-submit").click(function () {
    var validacion = $("#conjuntoForm")[0].checkValidity();
    if (validacion == true) {
      handleModal(
        "Su conjunto aparecera cuando acabe el proceso (recuerde refrescar la página)",
        "{{url_for('Set.crudos')}}"
      );
    }
  });
</script>

{% include 'components/footer.html' %}
