{% include 'components/header.html' %}
<center>
    <div class="bg-light m-5 p-5" style="max-width: 1000px;">

        <h2><strong>Contáctanos</strong></h2>

        <br><br><br>

        <div class="text-justify">
            <div class="pr-5 container">

                <div class="row">

                    <div class="col-6" style="width: 50%;">
                        <center>
                            <a class="mt-0" href="http://www.educatic.com.co" target="_blank">
                                <img src="{{url_for('static', filename='images/Educatic_logo.png')}}"
                                    class="d-inline-block align-top" title="www.educatic.com.co">
                            </a>
                            <br>
                            <a href="http://www.educatic.com.co/" target="_blank">Educatic</a><br>
                            <br>
                            Celular: (+57) 311 634 45 26 <br>
                            Dirección: Carrera 42 N° 5 SUR 145, <br>
                            Piso 13, oficina 125, WeWork,<br>
                            Medellín, Antioquia <br>
                            Email: walter.alvarez@educatic.com.co <br>
                            Servicio y Soporte: soporte@educatic.com.co <br>
                            <br><br>
                        </center>
                    </div>

                    <div class="col-6" style="width: 50%;">
                        <center>
                            <a href="https://www.eia.edu.co/" target="_blank">
                                <img src="{{url_for('static', filename='images/EIA_logo.png')}}" class="d-inline-block align-top ml-2"
                                    title="www.eia.edu.co">
                            </a>
                            <br>
                            <div class="ml-5">
                                <a href="https://www.eia.edu.co/" target="_blank">Universidad EIA
                                </a><br><br>
                                <b>Sede de Las Palmas:</b> <br>
                                km 2 + 200 Vía al Aeropuerto José María Córdova Envigado, Colombia. <br>
                                Tel: (574) 354 90 90. Fax: (574) 386 11 60<br>
                                
                                <b>Zúñiga:</b><br>
                                Calle 25 Sur 42-73 Envigado, Colombia. <br>
                                Tel: (574) 354 90 90. Fax: (574) 331 34 78 <br>
                            </div>
                            <br><br><br><br>
                        </center>
                    </div>


                </div>
            </div>
        </div>
        <br><br>
    </div>
</center>
{% include 'components/footer.html' %}