{% include 'components/header.html' %}
<center>
  <div class="bg-light m-5 p-5" style="max-width: 900px;">

    <h2> <strong> Bienvenido a PLEYADES </strong> </h2>

    {% if session['user'] %}
    {{session['user']['nombre']}}
    {% endif %}

    <br><br><br>

    <div class="mx-5 lead text-justify " style="font-size: 16px;">

      La deserción estudiantil de las instituciones de educación superior es un problema que ha afectado de distintas
      formas a todos y preocupa tanto a sus directivos como a las autoridades educativas de la región.
      Actualmente se viene adelantando proyectos que pretenden implementar models de predicción de deserción de estudiantil;
      sin embargo, es necesario que estos tipos de proyectos y models de predicción se articulén a los procesos de las instituciones 
      para facilitar su ejecución y manejo de la desertion dentro de el contexto de cada una.

      <br><br>

      <em>PLEYADES (PLataforma de Exploración Y Analítica de Deserción EStudiantil)</em> es un sistema de información
      que apoya el análisis del model de predicción de deserción estudiantil.

      <br>

      Por medio de Inteligencia Artificial, <em>PLEYADES</em> es capaz de predecir, identificar y analizar
      los posibles desertores entre un conjunto de students pertenecientes a un programa.

    </div>

    <br><br><br>

    {% if session['user'] %}
    <center><a type="button" class="btn btn-dark text-white my-primary" href="{{url_for('Analista.models') }}"> Empezar <i class="fa fa-arrow-alt-circle-right ml-1"></i> </a>
    </center>
    {% endif %}

  </div>
</center>

<!-- Release Notes Modal -->
<div class="modal fade" id="releaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog mt-5 pt-5" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Versión 2.0.1</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <h5>
            <i class="fa fa-solid fa-robot"></i>
            Modelos de deserción:
          </h5>
          <p>Ahora puedes crear models de deserción por cada porgrama, entrenado por un conjunto especifico de students entre dados periodos.</p>
          <br>
        <h5>
          <i class="fa fa-solid fa-dumbbell"></i>
          Entrenamientos:
        </h5>
        <p>
          El proceso de creacion (entrenamiento y prueba) de un model de deserción 
        </p>
          <br>
        <h5>
          <i class="fa fa-solid fa-flask"></i>
          Predicciones:
        </h5>
        <p>
          El tiempo se redujo notablemente con este nuevo esquema de ejecucón por models ya que puedes reutilizar tus models entrenados las vaces que quieras.
        </p>
          <br>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script>
  //$(window).on('load',function(){
    //$('#releaseModal').modal('show');
  //});
</script>


{% include 'components/footer.html' %}