<section>        
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="p-0 m-0 w-100">    
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show itemsali py-2 px-3 m-0 mb-3" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close my-0 py-1" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="fa fa-times"></span>
                    </button>
                </div>
                
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}  
</section>
