{% include 'components/header.html' %} {% include 'components/sidebar.html' %}

<div class="alert alert-danger w-50" style="max-width: 50%" role="alert">
  <h5 class="alert-heading">Aviso!!</h5>
  <p>{{mensaje}}</p>
  <hr />

  {% if submensaje is mapping %} {% for key, value in submensaje.items() %}
  <p class="mb-2 ml-2"><strong>{{ key }}</strong>: {{ value }}</p>
  {% endfor %} {% else %}
  <p class="mb-2 ml-2">{{submensaje}}</p>
  {% endif %}
</div>
<button type="button" onclick="goBack()" class="btn btn-outline-dark">
  Atras
</button>

{% include 'components/footer.html' %}
