{% include 'components/header.html' %}

{% with menu='resultados' %}
    {% include 'components/sidebar.html' %}
{% endwith %}

<h4>Detalles de una Ejecucion</h4>
<br>



<div class="container border rounded pt-3 pl-5 float-left">

  <div class="row">
    {% if desertores %}
    <div class="col">
      <h5 class="mb-3 font-weight-bold ">Desertores</h5>
      <div class="d-flex ml-1 mt-2">
        &nbsp;<i class="fas fa-filter mr-2 mt-2""></i>&nbsp;
        <input type=" text" class="form-control form-control-sm" id="filtroTabla" placeholder="Filtrar tabla...">
      </div>
      <br>
      <div class="table-responsive-sm">
        <table class="table table-hover table-sm" id="tabla">
          <thead>
            <tr>
              <th scope="col" class="">
                <center> Semestre </center>
              </th>
              <th scope="col" class="">
                <center> Identificación </center>
              </th>
              <th scope="col" class="">
                <center> Nombre </center>
              </th>
              <th scope="col" class="">
                <center> Predicción </center>
              </th>
            </tr>
          </thead>
          <tbody class="bg-light rounded">
            {% for d in desertores %}
            <tr>
              <td><center>{{ d.semestre }}</center></td>
              <td>
                <center>{{ d.documento }}</center>
              </td>
              <td>{{ d.nombre_completo }}</td>
              <td>
                <center>
                  {% if d.desertor==0 %}

                  <i class="fas fa-exclamation-circle fa-lg text-warning border-dark" data-toggle="tooltip"
                  data-html="true"
                    data-placement="bottom" style="cursor: pointer;"
                    title="El modelo predijo que este estudiante podría ser un potencial desertor<br><br>Y aún NO ha sido reportado como tal."></i>
                  {% else %}
                  <i class="fas fa-check-circle text-secondary" data-toggle="tooltip" data-placement="bottom"
                  data-html="true"
                    style="cursor: pointer;"
                    title="Este Estudiante Ya ha sido reportado como desertor."></i>
                  {% endif %}
                </center>
              </td>
              <!-- <td>{{ d.predicción }}</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    <div class="col ml-2">
      <h5 class="mb-3 font-weight-bold">Resultados</h5>
            
      {% set fileds = [
        'facultad',
        'programa',
        'period_a_predecir',
        'students_analizados',
        'precision',
        'desercion_prevista',
        'clasificador',
        'potenciales_desertores',
        'desertores_reportados',
        'desertores_matriculados'
        ] 
        %}
      <br>
      <table class="table table-bordered ml-1" style="width: 95%;">
        <tbody>
          {% for key, value in resultados.items() %}
    
          {% if key in fileds %}
          <tr>
            {{KEY}}
            <td><strong>{{ key.title()|replace('_',' ') }}</strong></td>
            <td class="bg-light">
              
              {% if 'desercion' in key %}
              
                {% set deser = (value * 100)|float %}
                {{ '%0.1f' % deser }} %

                {% if deser > 15 or  deser < 0.3 %}
                  <i
                    class="fa fa-solid fa-exclamation-triangle fa-lg text-danger border-dark"
                    data-toggle="tooltip"
                    data-html="true"
                    data-placement="bottom"
                    title="Deserción estudiantil por encima del 15% o muy cerca al 0%.<br>Recuerde predecir para periodos finalizados."
                  ></i>
                
                {% else %}
  
                  <i
                    class="fa fa-solid fa-check fa-lg text-success border-dark"
                    data-toggle="tooltip"
                    data-html="true"
                    data-placement="bottom"
                    title="El modelo tiene al parecer valores acertados de la precisión."
                  ></i>
  
                {% endif %}


              {% else %}

                {{ value }}
                {% if key=='precision' %}
                %

                {% if (value|float) < 85.00 %}

                  <i
                  class="fa fa-solid fa-exclamation-triangle fa-lg text-warning border-dark"
                  data-toggle="tooltip"
                  data-html="true"
                  data-placement="bottom"
                  style="cursor: pointer"
                  title="Precisión del modelo no muy alta, debajo del 85%<br>No significa que la predicción no sea confiable"
                ></i>
                <small>
                  <i>
                    Para más precisión creer otro con mas datos de entrenamiento con periodos finalizados.
                  </i>
                </small>
                
                {% else %}

                <i
                  class="fa fa-solid fa-check fa-lg text-success border-dark"
                  data-toggle="tooltip"
                  data-html="true"
                  data-placement="bottom"
                  title="El modelo tiene una precisión acertada. (Por encima del 85%)"
                ></i>
                {% endif %}
                
              
              {% endif %}

              {% endif %}
            </td>
          </tr>
          {% endif %}
          
          {% endfor %}
        </tbody>
      </table>
      
      {% if desertores %}
        <div class="d-flex justify-content-center align-items-center  ml-0 pl-0 mr-5 pr-5">
          <i class="fa fa-download" aria-hidden="true"></i>
          &nbsp;
          <div class="ml-0 pl-0 mr-2 d-flex ">Descargar: </div>
          &nbsp;&nbsp;
          <a class="btn bg-light btn-sm border text-dark px-2" type=" button"
            href="{{url_for('Resultado.download',ejecucion=ejecucion.nombre)}}">
            <i class="fas fa-file-excel mr-1" aria-hidden="true"></i>
            Desertores
          </a>
        </div>
        
        <br><br><br>
      {% endif %}
      <br>
      <div class="col" style="width: 95%;">
        <h5 class="mb-3 font-weight-bold ">Especificación</h5>
        
        <table class="table table-bordered">
          <tbody>
            {% for key, value in ejecucion.items() %}
            <tr>
              <td><strong>{{ key.title()|replace('_',' ') }}</strong></td>
              
              <td class="bg-light">
                
                {{ value }}
                
                {% if key=='duracion' %}
                
                sec
                
                {% endif %}

              </td>

            </tr>
            
            {% endfor %}

          </tbody>
        </table>
      </div>



      <br><br><br>
      <div class="text-center ml-0 pl-0 mr-5 pr-5">
        <!-- TODO NEW! version 2 v2.0.0 -->
        <button type="button" onclick="goBack()" class="btn btn-outline-dark">Atras</a>
        
      </div>
      <br>


    </div>

  </div>


</div>




{% include 'components/footer.html' %}