{% include 'components/header.html' %} {% include 'components/sidebar.html' %}

<h4>
  Entrenamientos
  <i class="fas fa-dumbbell fa-sm ml-1"></i>
</h4>
<br />

<!-- Input de filtrado -->
<div class="row ml-1 mt-2">
  &nbsp;<i class="fas fa-filter mr-2 mt-2"></i>&nbsp;
  <input
    type="text"
    class="form-control form-control-sm w-25"
    id="filtroTabla"
    placeholder="Filtrar tabla..."
  />
</div>
<br />

<!-- Tabla -->
<div class="table-responsive-sm">
  <table class="table table-hover table-sm" id="tabla">
    <thead>
      <tr>
        <th class="border-top-0">

        </th>
        <th class="col-5 border-top-0">
          <center><i>Programa</i></center>
        </th>
        <th class="col-2 border-top-0">
          <center><i>Info</i></center>
        </th>
        <th scope="col" class="col-1 border-top-0">
          <center><i>Estado</i></center>
        </th>

        <th scope="col" class="col-2 border-top-0">
          <center><i>Duración</i></center>
        </th>

        <th scope="col" class="col-1 border-top-0">
        </th>
      </tr>
    </thead>
    <tbody>
      {% for e in entrenamientos %} {% if e.estado=='Exitosa' and e.results.tipo == 'Entrenamiento' %}
      {% set info_array = e.conjunto.split(' ')[1:] %}
      <tr>
        <td>
          <h6 >
            {{ info_array[2:3][0] }}
          </h6>
        </td>
        <td>
          <center>{{e.results.programa}}</center>
        </td>
        <td>
          <center>
            {{info_array|join(' ') }}
          </center>
        </td>
        <td>
          {% set proc = e.results.desercion_prevista * 100 %}
          <center>

              {% if e.results.desercion_prevista > 0.15  %}
              <i
              class="fa fa-solid fa-exclamation-triangle fa-lg text-danger border-dark"
              data-toggle="tooltip"
              data-html="true"
              data-placement="bottom"
              title="Deserción estudiantil por encima del 15% <br>Pudo ocurrir un error de entrenamiento<br>Si es necesario, cree otro."
            ></i>

              {% elif (e.results.precision|float) < 85.00 %}
              <i
              class="fa fa-solid fa-exclamation-triangle fa-lg text-warning border-dark"
              data-toggle="tooltip"
              data-html="true"
              data-placement="bottom"
              style="cursor: pointer"
              title="La precisión del modelo no es muy alta, Ya que esta por debajo del 85%<br>Para estar mas seguro se recomienda crear otro con mas datos de entrenamiento."
            ></i>

              {% else %}


              <i
              class="fa fa-solid fa-check fa-lg text-success border-dark"
              data-toggle="tooltip"
              data-html="true"
              data-placement="bottom"
              title="El entrenamiento del modelo al parecer es muy optimo por los valores acertados de la precision y deserción."
            ></i>

              {% endif %}
            </center>
          </center>
        </td>
        <td>
          <center>
            <p data-toggle="tooltip"
            data-html="true"
            data-placement="bottom"
            style="cursor: pointer"
            title="{{e.fechaInicial}}<br>{{e.fechaFinal}}">
            {% set minutes = e.duracion // 60 %}
            {% set seconds = e.duracion % 60 %}
            {{ minutes }} min {{ seconds }} sec

            <div hidden>
              {{e.fechaInicial}}
              {{e.fechaFinal}}
            </div>
            </p>
          </center>
        </td>
        <td>
          <div class="row d-flex justify-content-center">
            <!-- Preparacion-->
            <div class="btn-group" role="group" aria-label="Basic example">
              <form
                action="{{url_for('Resultado.preparacion_detalle')}}"
                method="POST"
              >
                <input type="hidden" name="preparacion" value="{{e.nombre}}" />
                <button
                  type="submit"
                  data-toggle="tooltip"
                  data-html="true"
                  data-placement="bottom"
                  title="Ver Detalle de Preparación"
                  class="btn btn-outline-dark btn-sm submit"
                  role="status"
                >
                  <i class="fas fa-cog"></i>
                </button>
              </form>
            </div>
            <!-- Ejecución-->
            <div class="btn-group mx-1" role="group" aria-label="Basic example">
              <form
                action="{{url_for('Resultado.ejecucion_detalle')}}"
                method="POST"
              >
                <input type="hidden" name="ejecucion" value="{{e.nombre}}" />
                <button
                  type="submit"
                  data-toggle="tooltip"
                  data-html="true"
                  data-placement="bottom"
                  title="Ver Detalle de Ejecución"
                  class="btn btn-outline-dark btn-sm submit"
                  role="status"
                >
                  <i class="fas fa-play"></i>
                </button>
              </form>
            </div>


            <!-- PREDECIR -->
            <form action="{{url_for('Analista.predecir')}}" method="POST">
              <input type="hidden" name="modelo" value="{{e}}" />
              <button
                type="submit"
                data-toggle="tooltip"
                data-html="true"
                data-placement="bottom"
                title="Predecir con este Modelo"
                class="btn my-primary text-white border border-white btn-sm submit"
                role="status"
              >
                <i class="fa fa-flask fa-lg" aria-hidden="true"></i>
              </button>

              <button
                class="btn btn-outline-dark btn-sm btn-loading"
                type="button"
                style="display: none"
              >
                <i class="fas fa-spinner fa-spin fa-lg" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

{% if error %}
<br />
{% with titulo='No se pudieron cargar los entrenamientos',error=error %} {%
include "components/alert.html" %} {% endwith %}
<br />
{% endif %}

<br />

<script>
  // Cargando si se esta validando y guardando la data del modelo
  $(".submit").click(function () {
    handleModal(
      "Su modelo aparecera cuando acabe el proceso (recuerde refrescar la página)",
      "{{url_for('Analista.predicciones')}}"
    );
  });
</script>

{% include 'components/footer.html' %}
