<configuration>
	<system.webServer>
		<handlers>
            <remove name="Python FastCGI" />
			<remove name="WebDAV" />
			<add name="Python FastCGI-Api" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\python\python.exe|D:\Web\Pleyades\api\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
	<appSettings>
		<!-- Ubicación de la aplicación -->
		<add key="PYTHONPATH" value="D:\Web\Pleyades\api" />
		<!-- Nombre de la aplicación -->
		<add key="WSGI_HANDLER" value="__init__.app" />
		<!-- Ruta Subsitio -->
		<add key="SCRIPT_NAME" value="/PleyadesApi" />
	</appSettings>
</configuration>