# Docker linux
itsdangerous==2.2.0
markupsafe==2.1.5
xlwt==1.3.0
h5py==3.11.0

# Web Core
Flask==3.0.3
Flask-Session==0.8.0
Jinja2==3.1.2
Werkzeug==3.0.3
gunicorn==22.0.0

# Business Core
PyJWT==2.8.0
requests==2.32.3
python-dotenv==1.0.1
googletrans==3.1.0a0

# Data Proccessing
pandas==2.2.2
xlrd==2.0.1
openpyxl==3.1.4
scikit-learn==1.5.0
plotly==5.22.0
numpy==2.0.0
pandas-datareader==0.10.0