# Docker linux
itsdangerous==2.2.0
markupsafe==3.0.1
xlwt==1.3.0
h5py==3.12.1

# Web Core
Werkzeug==3.0.4
Flask==3.1.0
Flask-Session==0.8.0
Jinja2==3.1.5
gunicorn==23.0.0

# Business Core
PyJWT==2.10.1
requests==2.32.3
python-dotenv==1.0.1


# Data Proccessing
numpy==2.1.2
pandas==2.2.3
pandas-datareader==0.10.0
scikit-learn==1.5.2
xlrd==2.0.1
openpyxl==3.1.5

# Data reporting / dashboard
plotly==5.24.1

# Languages / Localization support (i18n)
flask-babel==4.0.0
deep-translator==1.11.4
googletrans==3.0.0

# Async background tasks support
celery==5.4.0
redis==5.2.1